/*Variables de Colores*/

/*colores de fondo*/
$color-fondo-claro:rgb(196,196,196);
$color-fondo-secundario: rgb(37, 37, 37);
$color-fondo: rgb(55,55,55);
$color-fondo-marcador: rgb(75,75,75);
$color-fondo-transparente:rgba(0, 0, 0, 0.219);
$color-fondo-transparente-2:rgba(0, 0, 0, 0.507);
$color-fondo-amarillo:rgb(255, 255, 240);

/*colores del header*/
$color-titulo-principal:rgb(255, 227, 227);
$color-nav:rgb(179,6,10);
$color-nav-hover:rgba(255, 208, 208, 0.904);
$bgcolor-nav-hover:rgb(126, 0, 0);

/*colores generales*/
$rojo:red;
$blanco: white;
$blanco-rojo: rgb(255, 236, 236);
$negro: black;

/*colores de imagenes*/
$color-marco-img:rgb(255, 87, 87);