/*TIPOS DE FUENTE*/
$font-general:'Montserrat', sans-serif;
$font-titulos: 'Anek Gujarati', sans-serif;
$font-decorativo: 'Merienda', cursive;

/*TAMAÑOS DE FUENTES*/
$font-general-62: 62.5%;
$font-500: 500%;
$font-450: 450%;
$font-400: 400%;
$font-350: 350%;
$font-300: 300%;
$font-250: 250%;
$font-200: 200%;
$font-150: 150%;
$font-70: 70%;

$font-20px: 20px;

/*grosor*/

$negrita:700;
