/*Aca comienza galeria.html*/

.galeria__fotos{
    display: grid;
    gap: 1%;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(5,1fr);
    grid-template-areas: 
    "g1 g2 g3"
    "g4 g5 g6"
    "g7 g7 g8"
    "g7 g7 g9"
    "g10 g10 .";

        img{
            width: 100%;
            height: 250px;
            padding: 1%;
            background-color: $color-marco-img;
            filter: grayscale(0.3);
            animation: caida 6s ease-in-out 0s 1;
                &:hover{
                    background-color: $rojo;
                    filter: none;
                }
        }

        .galeria__fotos__img1{
            grid-area: g1 ;
        }
        .galeria__fotos__img2{
            grid-area: g2 ;
        }
        .galeria__fotos__img3{
            grid-area: g3 ;
        }
        .galeria__fotos__img4{
            grid-area: g4 ;
        }
        .galeria__fotos__img5{
            grid-area: g5 ;
        }
        .galeria__fotos__img6{
            grid-area: g6 ;
        }
        .galeria__fotos__img7{
            grid-area: g7 ;
            height: 550px;
        }
        .galeria__fotos__img8{
            grid-area: g8 ;
        }
        .galeria__fotos__img9{
            grid-area: g9 ;
        }
        .galeria__fotos__img10{
            grid-area: g10 ;
            height: 300px;
        }
}

@keyframes caida {
    0%{position: relative;
        top: -1000%;}
    50%{position: relative;
        top: 0%;}
}