/*Aca comienza la pagina nosotors.html*/
.titulo{
    font-size: $font-250;
    text-decoration-line: underline;
    font-family: $font-titulos;}
    
.nosotros{
    font-size: $font-200;

    /*Seccion de Historia del Equipo*/
    .historia{
        background-color: map-get($map: $mapa-colores-fondo, $key:amarillo);
            h2{
                @extend .titulo;
            }
            div{
                img{
                    outline: 3px $color-marco-img solid;
                    border-radius: 5%;
                }
            }
    }
    
    /*Seccion de Nuestro Equipo*/

    .equipo{
        background-color: $color-marco-img;
            h2{
                @extend .titulo;
            }

            div{
                div{
                    .tarjeta-jugador{
                        background-color:map-get($map: $mapa-colores-fondo, $key:amarillo);
                        border-color: $negro;
                            div{
                                h3{
                                    font-weight: $negrita;
                                    text-decoration:overline underline;
                                }
                                h5{
                                    text-align: center;
                                    font-weight: $negrita;
                                }
                            }
                    }
                }
            }
    }


    /* Seccion de la Hinchada*/
    .hinchada{
        background-color: map-get($map: $mapa-colores-fondo, $key:amarillo);
            h2{
                    @extend .titulo;
                }
            div{
                .hinchada__div__img{
                    width: 40%;
                    outline: 3px $color-marco-img solid;
                    border-radius: 5%;
                }
            }

    }
}

