/*Aca comienza la pagina noticias.html*/

/*MARCADOR*/
.marcador{
    h3 {
        font-size: $font-450;
        color: $blanco;
        background-color: map-get($map: $mapa-colores-fondo, $key:marcador);
        border: 1px $negro solid;
    }
    p{
        font-size: $font-200;
        background-color: $blanco-rojo;
        border: 1px $negro solid;
    }
}

/*Seccion de las noticias*/
.noticias{
    h2{
        font-size:$font-450;
        color: $blanco;
    }

    div{
        background-color: $blanco-rojo;
        display: inline-block;
        margin-top: 3%;
        margin-bottom: 3%;
        padding: 2%;

        img{
            padding: 1%;
            background-color: $color-marco-img;
            width: 200px;
                
                &:hover{
                    background-color: $rojo;
                    transform: scale(1.2);
                }
        }
    }
    p{
        font-size: ($font-150)+20%;
    }
}